
2017/summary/__pycache__/hh_survey_config_format.cpython-37.pyc
.Rproj.user
.Rproj
.Rhistory
.Rdata
2019/story_maker/.Rhistory
survey_data_cleaning/1stRoundFixFromTraces.csv
.Rproj
2021/analysis_in_progress/rgcs_vehicle_ownership/inst/config.yml
*.iml
*.xml
2021/analysis_in_progress/telecommuting/replica-estimates/northwest-2019_Q4-thursday-household-income.csv
2021/analysis_in_progress/telecommuting/replica-estimates/northwest-2019_Q4-thursday-household-income.zip
2021/analysis_in_progress/telecommuting/replica-estimates/northwest-2019_Q4-thursday-race-and-ethnicity.csv
2021/analysis_in_progress/telecommuting/replica-estimates/northwest-2019_Q4-thursday-race-and-ethnicity.zip
2021/analysis_in_progress/telecommuting/replica-estimates/northwest-2021_Q4-thursday-household-income.csv
2021/analysis_in_progress/telecommuting/replica-estimates/northwest-2021_Q4-thursday-household-income.zip
2021/analysis_in_progress/telecommuting/replica-estimates/northwest-2021_Q4-thursday-race-and-ethnicity.csv
2021/analysis_in_progress/telecommuting/replica-estimates/northwest-2021_Q4-thursday-race-and-ethnicity.zip
*.db
.RData
2023/summary/displacement/res_dur_regional.csv
/2025/cleaning/analysis/HHTS-analysis-notebook
/2025/cleaning/analysis/_freeze
*.RDS
/2025/safety_data/_freeze
/2025/safety_data/index_files
/2025/safety_data/safety-analysis
2025/safety_data/_publish.yml
*.html
/2025/safety_data/rsconnect
/2025/hts_summary/Analysis/Delivery/.quarto
/2025/hts_summary/Analysis/Delivery/_freeze
/2025/hts_summary/Analysis/Delivery/delivery-notebook
/2025/hts_summary/HTS-summary-notebook
/2025/hts_summary/Analysis/care-giving/*_files
