
2017/summary/__pycache__/hh_survey_config_format.cpython-37.pyc
.Rproj.user
.Rproj
.Rhistory
.Rdata
2019/story_maker/.Rhistory
survey_data_cleaning/1stRoundFixFromTraces.csv
.Rproj
2021/analysis_in_progress/rgcs_vehicle_ownership/inst/config.yml
*.iml
*.xml
2021/analysis_in_progress/telecommuting/replica-estimates/northwest-2019_Q4-thursday-household-income.csv
2021/analysis_in_progress/telecommuting/replica-estimates/northwest-2019_Q4-thursday-household-income.zip
2021/analysis_in_progress/telecommuting/replica-estimates/northwest-2019_Q4-thursday-race-and-ethnicity.csv
2021/analysis_in_progress/telecommuting/replica-estimates/northwest-2019_Q4-thursday-race-and-ethnicity.zip
2021/analysis_in_progress/telecommuting/replica-estimates/northwest-2021_Q4-thursday-household-income.csv
2021/analysis_in_progress/telecommuting/replica-estimates/northwest-2021_Q4-thursday-household-income.zip
2021/analysis_in_progress/telecommuting/replica-estimates/northwest-2021_Q4-thursday-race-and-ethnicity.csv
2021/analysis_in_progress/telecommuting/replica-estimates/northwest-2021_Q4-thursday-race-and-ethnicity.zip
*.db
.RData

*.pdf
*.html
/2021/analysis_in_progress/rgcs/regional_destination/centers_monitor_mode_share_files/libs/bootstrap
/2021/analysis_in_progress/rgcs/regional_destination/centers_monitor_mode_share_files
/2021/analysis_in_progress/rgcs/regional_destination/centers_monitor_regional_destinations_files
/2021/analysis_in_progress/rgcs/regional_destination/hex_grid
/2021/analysis_in_progress/rgcs/regional_destination/deliverables
/2021/analysis_in_progress/rgcs/regional_destination/data_source
/2021/modeling/model_vmt/lit_review/lit
/2021/analysis_in_progress/rgcs/regional_destination/centers_monitor_mode_share_2023_files
/2021/analysis_in_progress/rgcs/regional_destination/centers_monitor_mode_share_compare_files
/2021/analysis_in_progress/rgcs/regional_destination/centers_monitor_regional_destinations_2023_files
/2021/analysis_in_progress/rgcs/regional_destination/centers_monitor_regional_destinations_compare_files
